.header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    width: 100%;
}
.header__left{
    flex:0.6;
    background-color: white;
    color: gray;
    border-radius: 30px;
    padding: 10px;
    display: flex;
    align-items: center;
    height: 40px;
    min-width: 70px;
    max-width: 363px;
    margin-left: 125px;
}
.header__left>input{
    border:none;
    
}
.header__right{
    display: flex;
    align-items: center;
    color: white;
  
    border-radius: 30px;
    height: 35px;
    background-color: black;
    max-width: 240px;
    margin-top: 10px;
}
.header__right >h4{
    margin-left: 10px;
    font-size: 13px;
}
.header__right >img{
    border-radius: 50%;
    width: 30px;
    height: 30px;
}